* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 16px;
}

body, html {
    height: 100%;
    width: 100%;
}

header {
    font-family: 'Sansita Swashed', cursive;
    min-height: 145%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url(../slike/backround3.jpg) center/cover fixed;
}

.naslov h1 {
    font-family: 'Nerko One', cursive;
    font-size: 50px;
    font-weight: bold;
    color: rgb(196, 190, 190);
    text-transform: capitalize;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -22%);
}

.nav-bar {
    position: absolute;
    z-index: 1;
    top: 5%;
    right: 3%;
}

.nav-bar .fa {
    font-size: 20px;
    padding: 9px;
}

.nav-bar a {
    text-decoration: none;
    color: rgb(238, 192, 93);
    font-size: 25px;
    padding: 16px;
    cursor: pointer;
}

.nav-bar a:hover {
    color: rgb(86, 102, 119);
    transition: 1s;
}

@media screen and (max-width: 430px) {
    .nav-bar {
        position: relative;
        padding-top: 10px;
        padding-left: 10px;
        display: flex;
        top: 1%;
    }

    .nav-bar a, .nav-bar .fa {
        font-size: 15px;
    }

    .naslov h1 {
        font-size: 30px;
        top: 25%;
    }
}

.container {
    position: fixed;
    z-index: 1;
    top: 18%;
    left: 35%;
    border-radius: 5%;
    border: 5px solid rgb(128, 126, 126);
    background: rgb(207, 204, 204);
    width: 30%;
    padding: 40px;
    display: none;
}

.container2 {
    position: fixed;
    z-index: 1;
    top: 3%;
    left: 33%;
    border-radius: 5%;
    border: 5px solid rgb(128, 126, 126);
    background: rgb(207, 204, 204);
    width: 35%;
    height: 95%;
    padding: 40px;
    display: none;
    overflow: scroll;

}

.login input {
    width: 95%;
    padding: 10px;
    margin: 25px 0px;
    display: flex;
    border: 2px solid rgb(102, 102, 102);
}

.login2 input {
    width: 95%;
    padding: 10px;
    margin: 13px 0px;
    display: flex;
    border: 2px solid rgb(102, 102, 102);
}

.login2 button {
    width: 95%;
}

.login button, .login2 button {
    color: rgb(218, 211, 211);
    background: rgb(77, 75, 75);
    font-weight: bold;
    border: rgb(51, 51, 51) 1px solid;
    padding: 10px;
    width: 95%;
    cursor: pointer;

}

.login button:hover, .login2 button:hover {
    color: rgb(34, 34, 34);
    background: lightgray;
    transition: 1s;
}

.cancel button {
    margin: 20px 0;
    padding: 12px;
    padding-bottom: 15px;
    background: rgb(77, 75, 75);
    border: rgb(39, 39, 39) 1px solid;
    color: lightgray;
    font-weight: bold;
    cursor: pointer;
}

.cancel2 button {
    margin: 20px 0;
    padding: 12px;
    padding-bottom: 15px;
    background: rgb(77, 75, 75);
    border: rgb(39, 39, 39) 1px solid;
    color: lightgray;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.cancel button:hover, .cancel2 button:hover {
    color: rgb(34, 34, 34);
    background: lightgray;
    transition: 1s;
}

@media screen and (max-width: 430px) {
    .container {
        top: 14%;
        left: 10%;
        width: 80%;
        padding: 30px;
    }

    .container2 {
        top: 2%;
        left: 5%;
        width: 90%;
        padding: 20px;
    }

    .login2 input {
        width: 95%;
        padding: 5px;
        margin: 8px 0px;
    }

    .cancel2 button {
        margin-top: 7px;
    }

    header {
        height: 150vh;
    }
}

.promenaFonta {
    font-family: 'Imbue', serif;
    font-size: 27px;
}

.font {
    font-size: 30px;
}

.font2 {
    font-size: 30px;
}

.izmena {
    width: 70%;
    height: 110%;
    position: absolute;
    background: rgb(184, 182, 182);
    top: 23%;
    left: 15%;
    opacity: 0.8;
    border-radius: 1%;
    color: rgb(31, 30, 30);
    font-family: 'Imbue', serif;
    overflow: scroll;
}

.izmena form {
    position: relative;
    margin-top: 40px;
    margin-left: 40px;
}

.izmena form select {
    display: flex;
    width: 95%;
    padding: 5px;
}

.izmena form input {
    display: flex;
    width: 95%;
    padding: 5px;
}

.izmena form textarea {
    display: flex;
    width: 95%;
    padding: 5px;
    height: 200px;
}

.izmena form button {
    background: rgb(78, 78, 78);
    color: rgb(209, 205, 205);
    border: none;
    padding: 12px;
    width: 95%;
    margin-top: 15px;
    cursor: pointer;
}

.izmena form button:hover {
    color: rgb(78, 78, 78);
    background: rgb(209, 205, 205);
    transition: 0.5s;
}

.izmena form label {
    line-height: 50px;
}

@media screen and (max-width: 430px) {
    .izmena form {
        position: relative;
        margin-top: 10px;
        margin-left: 10px;
    }

    .izmena form button {
        padding: 8px;
    }

    .izmena {
        height: 116%;
        top: 24%;
    }

    .promenaFonta {
        font-family: 'Imbue', serif;
        font-size: 21px;
    }

    .font {
        font-size: 24px;
        margin-left: 2px;
    }

    .font2 {
        font-size: 30px;
    }
}

#greska, #greska1, #greska2, #greska3, #greska4, #greska5 {
    display: none;
    color: red;
}

#izmena1, #izmena2, #izmena3, #izmena4, #izmena5, #izmena6, #izmena7 {
    display: none;
    color: rgb(241, 54, 54);
}

.velicinaFonta {
    font-size: 23px;
}

footer {
    background: #444444;
    color: #c9c3c3;
    padding: 40px 0;
    font-size: 27px;
    text-align: center;
    font-weight: bold;
    font-family: 'Imbue', serif;
}

@media screen and (max-width: 430px) {
    footer {
        padding: 20px 0;
        font-size: 18px;
    }
}