* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 16px;
}

body, html {
    height: 100%;
    width: 100%;
}

header {
    font-family: 'Sansita Swashed', cursive;
    min-height: 180%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url(../slike/background1.jpg) center/cover fixed;
}

.naslov h1 {
    font-family: 'Nerko One', cursive;
    font-size: 70px;
    font-weight: bold;
    color: rgb(196, 190, 190);
    text-transform: capitalize;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -22%);
}

.nav-bar {
    position: absolute;
    z-index: 1;
    top: 5%;
    right: 3%;
}

.nav-bar .fa {
    font-size: 20px;
    padding: 9px;
}

.nav-bar a {
    text-decoration: none;
    color: rgb(238, 192, 93);
    font-size: 25px;
    padding: 16px;
    cursor: pointer;
}

.nav-bar a:hover {
    color: rgb(86, 102, 119);
    transition: 1s;
}

@media screen and (max-width: 430px) {
    .nav-bar {
        margin-top: 3px;
        margin-left: 20px;
        display: flex;
    }

    .nav-bar a, .nav-bar .fa {
        font-size: 15px;
    }

    .naslov h1 {
        font-size: 30px;
        top: 25%;
    }

    header {
        min-height: 130%;
    }
}

.container {
    position: fixed;
    z-index: 1;
    top: 18%;
    left: 35%;
    border-radius: 5%;
    border: 5px solid rgb(128, 126, 126);
    background: rgb(207, 204, 204);
    width: 30%;
    padding: 40px;
    display: none;
}

.container2 {
    position: fixed;
    z-index: 1;
    top: 3%;
    left: 33%;
    border-radius: 5%;
    border: 5px solid rgb(128, 126, 126);
    background: rgb(207, 204, 204);
    width: 35%;
    height: 95%;
    padding: 40px;
    display: none;
    overflow: scroll;

}

.login input {
    width: 95%;
    padding: 10px;
    margin: 25px 0px;
    display: flex;
    border: 2px solid rgb(102, 102, 102);
}

.login2 input {
    width: 95%;
    padding: 10px;
    margin: 13px 0px;
    display: flex;
    border: 2px solid rgb(102, 102, 102);
}

.login button, .login2 button {
    color: rgb(218, 211, 211);
    background: rgb(77, 75, 75);
    font-weight: bold;
    border: rgb(51, 51, 51) 1px solid;
    padding: 10px;
    width: 95%;
    cursor: pointer;

}

.login2 button {
    width: 95%;
}

.login button:hover, .login2 button:hover {
    color: rgb(34, 34, 34);
    background: lightgray;
    transition: 1s;
}

.cancel button {
    margin: 20px 0;
    padding: 12px;
    padding-bottom: 15px;
    background: rgb(77, 75, 75);
    border: rgb(39, 39, 39) 1px solid;
    color: lightgray;
    font-weight: bold;
    cursor: pointer;
}

.cancel2 button {
    margin: 20px 0;
    padding: 12px;
    padding-bottom: 15px;
    background: rgb(77, 75, 75);
    border: rgb(39, 39, 39) 1px solid;
    color: lightgray;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.cancel button:hover, .cancel2 button:hover {
    color: rgb(34, 34, 34);
    background: lightgray;
    transition: 1s;
}

@media screen and (max-width: 430px) {
    .container {
        top: 14%;
        left: 10%;
        width: 80%;
        padding: 30px;
    }

    .container2 {
        top: 2%;
        left: 5%;
        width: 90%;
        padding: 20px;
    }

    .login2 input {
        width: 95%;
        padding: 5px;
        margin: 8px 0px;
    }

    .cancel2 button {
        margin-top: 7px;
    }
}

.products {
    position: absolute;
    top: 30%;
    left: 37%;
    padding: 30px;
    color: rgb(204, 201, 201);
    font-family: 'Imbue', serif;
    background: rgb(61, 60, 60);
    opacity: 0.9;
    border-radius: 4%;
}

.ukupnaCenaKorpe {
    position: absolute;
    top: 18%;
    left: 37%;
    color: rgb(204, 201, 201);
    font-size: 40px;
    font-family: 'Imbue', serif;
    background: rgb(61, 60, 60);
    padding: 20px;
    border-radius: 4%;
    opacity: 0.9;
}

.podaci12345 {
    font-size: 30px;
}

.dugmic {
    border-radius: 15%;
    padding: 8px;
    text-decoration: none;
    border: none;
    background: rgb(134, 132, 132);
    color: rgb(15, 15, 15);
    cursor: pointer;
    font-size: 30px;
    padding-bottom: 0px;
}

.dugmic:hover {
    color: rgb(134, 132, 132);
    background: rgb(15, 15, 15);
    transition: 0.5s;
}

@media screen and (max-width: 430px) {

    .products {
        top: 35%;
        left: 1%;
        padding: 5px;
        overflow: scroll;
    }

    .ukupnaCenaKorpe {
        top: 22%;
        left: 26%;
        font-size: 30px;
    }

}

#greska, #greska1, #greska2, #greska3, #greska4, #greska5 {
    display: none;
    color: red;
}

footer {
    background: #444444;
    color: #c9c3c3;
    padding: 40px 0;
    font-size: 27px;
    text-align: center;
    font-weight: bold;
    font-family: 'Imbue', serif;
}

@media screen and (max-width: 430px) {
    footer {
        padding: 20px 0;
        font-size: 18px;
    }
}